@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';

@layer components {
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.overflow-overlay:not(.overflow-x-hidden) {
		overflow-x: auto;
		overflow-x: overlay;
	}
	.overflow-overlay:not(.overflow-y-hidden) {
		overflow-y: auto;
		overflow-y: overlay;
	}
}

html,
body {
	@apply bg-zinc-100
	text-zinc-800
	transition-none;
}

*::-moz-selection,
*::selection {
	color: theme('colors.zinc.800');
	background: theme('colors.zinc.100');
}

*::-webkit-scrollbar {
	width: 8px;
	display: initial;
}

*::-webkit-scrollbar-track {
	background-color: inherit;
	border: 0 solid transparent;
	margin: 0.5rem 0;
}

*::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: theme('colors.zinc.400');
}
