@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.overflow-overlay:not(.overflow-x-hidden) {
		overflow-x: auto;
		overflow-x: overlay;
	}
	.overflow-overlay:not(.overflow-y-hidden) {
		overflow-y: auto;
		overflow-y: overlay;
	}
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	@apply bg-zinc-100;
}

* {
	transition-property: opacity color background;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

*::-moz-selection {
	color: #18181b;
	background: #d4d4d8;
}
*::selection {
	color: #18181b;
	background: #d4d4d8;
}

*::-webkit-scrollbar {
	width: 8px;
	display: initial;
}

*::-webkit-scrollbar-track {
	background-color: inherit;
	border: 0 solid transparent;
	margin: 0.5rem 0;
}

*::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #71717a;
}
